.articles {
    margin-right: 30%;
}

.card-article {
    margin-bottom: 1em;
}

.create-article {
    margin-left: 0.05em;
    margin-top: 1em;
}

.article-link {
    color: #30a64a;
    font-size: large;
    font-weight: bold;
}

.edit-button {
    padding-top: 1.5em;
    color: #30a64a;
    font-size: large;
    font-weight: bold;
    margin-left: -0.9em;
}

.delete-button {
    display: flex;
    justify-content: end;
}